body {
  padding-top: 60px;
  padding-bottom: 60px;
  margin:0px auto;
  width:1000px;
  overflow-y: scroll;
  overflow-x: scroll;
  overflow: -moz-scrollbars-vertical;
  font-family:monospace;
  background-color:black;
}

.hero-unit {
  background-color:#303030;
  border:1px dashed #0670bd;
  color:white;
}

p {
  line-height:20px;
  font-size:15px;
}

table {
  line-height:20px;
  font-size:15px;
}

ul {
  line-height:20px;
  font-size:15px;
}

h3 {
  color:#0670bd;
}

h4 {
  color:#0670bd;
}

.navbar-inner {
  background-color:black;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.navbar-inner {
  background-color: #000000;
  background-image: none;
  background-repeat: no-repeat;
  border:1px dashed #0670bd;
  filter: none;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-color: #0670bd;
  color: white;
}

.tabbable .nav .active > a, .tabbable .nav .active > a:hover {
  background-color: #0670bd;
  color: white;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #3ea4ed;
}
